.filterBox {
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
    align-items: center;
    margin: 0.5rem auto;
    /* background-color: #ffa094; */
}

.filterDropDown {
    width: 7rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    margin-right: 0.5rem;
}

@media screen and (min-width: 400px) {
    .filterBox{
        display: flex;
        flex-direction: row;
        width: 400px;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        padding: 0.5rem;
}

    .filterDropDown {
        width: 10rem;
        font-size: 1rem;
    }
}

