.filterBox {
    display: flex;
    flex-direction: row;
    width: 18rem;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 1rem 1rem 0rem 1rem;
    background-color: #ffa094;
}

.filterDropDown {
    width: 6rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    margin-right: 0.5rem;
}

@media screen and (min-width: 400px) {
    .filterBox{
        width: 20rem;
    }
}

@media screen and (min-width: 800px) {
    .filterBox{
        display: flex;
        flex-direction: row;
        width: 22rem;
}

    .filterDropDown {
        width: 10rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1000px) {
    .filterBox{
        display: flex;
        flex-direction: row;
        width: 25rem;
    }
}
