/* mobile shared */

.Reviews {
    margin-top: 7rem;
    text-align:center;
}

h2 {
    color: #333745;
    font-family: 'Bad Script', cursive;
    font-size: 22pt;
    margin-top: 3rem;
    margin: 3rem auto 1rem;
}

 /* reviews styling */
.reviewBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewLeft {
    width: 22rem;
    display: flex;
    justify-content: center;
}

.reviewRight {
    width: 22rem;
    display: flex;
    justify-content: center;
}


.reviews {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align:center;
    width: 100%;
}

/* card styling */
.placeCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .placeCard{
    border: 1px solid #ffa094;
    background-color: #fff1cb;
    border-radius: 30px;
    padding: 1rem;
    margin: 0.5rem;
    text-align: left;
    display: flex;
    align-items: center;
    width: 16rem;
} */

h4 {
    font-weight: bold;
    font-size: 1rem;
    margin:0.5rem 0;
    color: #333745;
}

p {
    font-size: 0.75rem;
    color: #333745;
}

/* Button container */
.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonContainer button{
    margin: 0.25rem;
}

/* larger phones and tablet portraits */
@media screen and (min-width: 400px) {

    .placeCard {
        width: 20rem;
    }
    
    .cardLeft {
        width: 14rem;
        margin-left: 0.5rem;
    }

    .cardRight {
        width: 6rem;
    }
}

/* desktop and tablet landscape */
@media screen and (min-width: 900px){
    .reviewBody{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        margin-top: 1rem;
    }

    .reviewLeft{
        width: 24rem;
        margin: 0rem 2rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
    }

    .reviewRight{
        width: 24rem;
        padding: 1rem;
        display: flex;
        justify-content: center;
        margin: 1rem 2rem;
    }

    /* card styling */
    .placeCard {
        width: 22rem;
    }

    .cardLeft {
        width: 80%;
        margin-left: 0.5rem;
    }
}

/* xl screenz */
 @media screen and (min-width: 1200px){ 
    .reviewBody {
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .placeCard {
        width: 24rem;
    }

    .reviewLeft {
        width: 26rem;
        margin: 0rem 3rem;
    }

    .reviewRight {
        width: 26rem;
        margin: 1rem 3rem;
    } 
 }