.Reviews {
    text-align: center;
}

h2 {
    color: #333745;
    margin-top: 3rem;
    font-family: 'Bad Script', cursive;
}

 /* list styling */
.reviewBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reviewLeft {
    width: 22rem;
    display: flex;
    justify-content: center;
}

.reviewRight {
    width: 22rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/* card styling */
.placeCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#ffebaf;
    padding: 1rem;
    width: 18rem;
}

.placeCard{
    background-color: #fff1cb;
    padding: 1rem;
    margin: 0.5rem;
    text-align: left;
    display: flex;
    align-items: center;
    width: 16rem;
}

h4 {
    font-weight: bold;
    font-size: 1rem;
    margin:0.5rem 0;
    color: #333745;
}

p {
    font-size: 0.75rem;
    color: #333745;
}

/* Button container */
.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonContainer button{
    margin: 0.25rem;
}

/* larger phones and tablet portraits */
@media screen and (min-width: 400px) {
    .placeCards {
        width: 20rem;
    }

    .placeCard {
        width: 18rem;
    }
    
    .cardLeft {
        width: 14rem;
        margin-left: 0.5rem;
    }

    .cardRight {
        width: 6rem;
    }
}

@media screen and (min-width: 800px) {
    .reviewBody {
        justify-content: space-evenly;
    }
     h2 {
        margin-top: 0rem;
    }

    .placeCards{
        width: 22rem
    }

    .placeCard {
        width: 20rem;
    }
}

/* desktop and tablet landscape */
@media screen and (min-width: 1000px){

    h2 {
        margin-top: 0rem;
    }

    .reviewBody{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    
    }

    .reviewLeft{
        width: auto;
        height: auto;
        padding: 1rem;
        margin: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reviewRight{
        width: auto;
        height: auto;
        padding: 0rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* card styling */
    .placeCards{
        width: 25rem
    }

    .placeCard {
        width: 22rem;
    }

    .cardLeft {
        width: 80%;
        margin-left: 0.5rem;
    }
}

/* xl screenz */
 @media screen and (min-width: 1200px){ 

    h2 {
        margin-top: 0rem;
    }

    .reviewBody {
        display: flex;
        flex-direction: row;
    }

    .reviewLeft{
        width: auto;
        margin: 1rem;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .reviewRight{
        width: auto;
        padding: 0rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .placeCards{
        width: 25rem
    }

    .placeCard {
        width: 22rem;
    }

 }