.toDo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align:center;
    width: 100%;
}

h2{
    color: #333745;
    font-family: 'Bad Script', cursive;
    font-size: 22pt;
    margin-top: 3rem;
    margin: 3rem auto 1rem;
}

.todoBody{
    display: flex;
}

/* Card styling */

.placeCard{
    border: 1px solid #ffa094;
    background-color: #fff1cb;
    border-radius: 30px;
    padding: 1rem;
    margin: 0.5rem;
    text-align: left;
    display: flex;
}

.cardLeft {
    width: 80%;
}


h4 {
    font-weight: bold;
    font-size: 1rem;
    margin:0.5rem 0;
    color: #333745;
}

p {
    font-size: 0.75rem;
    color: #333745;
}

/* button container */

.buttonContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.buttonContainer button{
    margin: 0.25rem;
}

@media screen and (max-width: 56rem){
    .todoBody {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 25rem){
    .placeCards{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}