/* ========================================= CAROUSEL */

.carouselWrapper{
    position:relative;
}

.carouselText{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    position: absolute;
    /* top: 3rem; */
    width: 100%;
    z-index: 20;
}

.carouselText h1{
    font-family: "Bad Script", cursive;
    font-size: 3rem;
    font-weight: 1200;
    color: white;
    text-shadow:3px 4px 5px #ffa094;
    position: absolute;
    margin-top: 2rem;
    z-index: 3;
}

.mainLogo {
    width: 20rem;
}


.splash-header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    width: 100%;
    height: 100%;
    margin-top:3.2rem;
}

.splashHeaderImage{
    width: 100vw;
}

.splash-image {
    width: 100%;
    height: 100%;
    object-fit : cover;
}

/* ========================================= SPLASH*/

.splashTextContent{
    margin:3rem auto 0;
    width:80%;
}

.splashTextContent h1{
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 	3.125rem;
    font-weight: 700;
    color: #87cab0;
    margin-bottom:.15rem;
    padding-bottom:.15rem;
}

@media screen and (max-width: 500px) {
    .splashTextContent h1 {
        font-size: 2rem;
    }
}

.questionMark{
    letter-spacing:.4rem;
}

.splashTextContent p{
    margin-top:.15rem;
    padding-top:.15rem;
    text-align:center;
    font-family:'Montserrat',sans-serif;
    font-weight:300;
    font-size:1.125rem;
    line-height:2rem;
    margin-bottom:2rem;
    padding-bottom:2rem;
    color: #333745;
}

.boxContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top:3rem;
    margin-bottom:3rem;
}

.singleBoxContainer{
    width: 250px;
    height: 265px;
    margin:1rem;
}

.singleBoxContainer p{
    color:#333745;
    font-size: 1rem;
    text-align:center;
    padding-right:.3rem;
    margin-top:.5rem;
}

.box1{
    background-image:url('/images/box1.jpg');
    background-size: contain;
    width: 250px;
    height:250px;
    border-radius:25px;
    border: 0.25rem solid white;
    /* background-color:red; */
    box-shadow: 4px 4px 4px lightgray;
    
}

.box2{
    background-image:url('/images/box2.jpg');
    background-size: contain;
    width: 250px;
    height:250px;
    border-radius:25px;
    border: 0.25rem solid white;
    /* background-color:red; */
    box-shadow: 4px 4px 4px lightgray;
    
}

.box3{
    background-image:url('/images/box3.jpg');
    background-size: contain;
    width: 250px;
    height:250px;
    border-radius:25px;
    border: 0.25rem solid white;
    /* background-color:red; */
    box-shadow: 4px 4px 4px lightgray;
    
}

@media screen and (max-width: 1059px) {
    .box1, .box2, .box3 {
        width: 225px;
        height:225px;
    }
    .singleBoxContainer{
        width:225px;
    }
}

@media screen and (max-width: 1059px) {
    .box {
        width: 200px;
        height:200px;
    }
    .singleBoxContainer{
        width:225px;
    }
}

/* ========================================= MEDIA QUERIES */

/* =====CAROUSEL*/

@media screen and (min-width:250px) and (max-width:300px){
    .mainLogo{
        width: 3.5rem;
        margin-top: .75rem;
      }
}

@media screen and (min-width:300px) and (max-width:390px){
    .mainLogo{
        width: 4.5rem;
        margin-top: .75rem;
      }
}

@media screen and (min-width:390px) and (max-width:450px){
    .mainLogo{
        width: 6rem;
        margin-top: .8rem;
      }
}

@media screen and (min-width:450px) and (max-width:520px){
    .mainLogo{
        width: 7rem;
        margin-top: .8rem;
      }
}

@media screen and (min-width:520px) and (max-width:600px){
    .mainLogo{
        width: 8rem;
        margin-top: 1rem;
      }
}

@media screen and (min-width:600px) and (max-width:650px){
    .mainLogo{
        width: 9rem;
        margin-top: 1.25rem;
      }
}

@media screen and (min-width:650px) and (max-width:775px){
    .mainLogo{
        width: 10rem;
        margin-top: 1.25rem;
      }
}

@media screen and (min-width:775px) and (max-width:900px){
    .mainLogo{
        width: 12rem;
        margin-top: 1.25rem;
      }
}

@media screen and (min-width:900px) and (max-width:1000px){
    .mainLogo{
        width: 14rem;
        margin-top: 1.25rem;
      }
}

@media screen and (min-width:1000px) and (max-width:1150px){
    .mainLogo{
        width: 16rem;
        margin-top: 1.25rem;
      }
}


@media screen and (min-width:1150px) and (max-width:1300px){
    .mainLogo{
        width: 18rem;
        margin-top: 1.5rem;
      }
}

@media screen and (min-width:1300px) and (max-width:1400px){
    .mainLogo{
        width: 20rem;
        margin-top: 2rem;
      }
}

@media screen and (min-width:1400px) and (max-width:1600px){
  .mainLogo{
    width: 22rem;
    margin-top: 2rem;
  }
}

@media screen and (min-width:1600px){
    .mainLogo{
        margin-top:2.5rem;
        width: 25rem;
        
      }
}

@media screen and (min-width:1800px){
    .mainLogo{
        margin-top:2.5rem;
        width: 28rem;
        
      }
}

@media screen and (min-width:2000px){
    .mainLogo{
        margin-top:2.5rem;
        width: 30rem;
        
      }
}

@media screen and (min-width:2200px){
    .mainLogo{
        margin-top:2.5rem;
        width: 32rem;
        
      }
}

@media screen and (min-width:2350px){
    .mainLogo{
        margin-top:2.5rem;
        width: 35rem;
        
      }
}

@media screen and (min-width:2500px){
    .mainLogo{
        margin-top:2.5rem;
        width: 38rem;
        
      }
}