/* ========================================= CAROUSEL */

.carouselWrapper{
    position:relative;
}

.carouselText{
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.carouselText h1{
    font-family: "Bad Script", cursive;
    font-size: 3rem;
    font-weight: 1200;
    color: white;
    margin: auto 1rem;
    position: absolute;
    margin-top: 10rem;
    z-index: 3;
}

.carouselImageRow{
    margin-top:3.1875rem;
    display:flex;
    flex-direction: row;
    z-index:0;
}

.carouselImageRow IMG{
    width:100%;
}

/* ========================================= SPLASH*/

.splashTextContent{
    margin:3rem auto 0;
    width:80%;
}

.splashTextContent h1{
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 	3.125rem;
    font-weight: 700;
    color: #87cab0;
    margin-bottom:.15rem;
    padding-bottom:.15rem;
}

@media screen and (max-width: 500px) {
    .splashTextContent h1 {
        font-size: 2rem;
    }
}

.questionMark{
    letter-spacing:.4rem;
}

.splashTextContent p{
    margin-top:.15rem;
    padding-top:.15rem;
    text-align:center;
    font-family:'Montserrat',sans-serif;
    font-weight:300;
    font-size:1.125rem;
    line-height:2rem;
    margin-bottom:2rem;
    padding-bottom:2rem;
    color: #333745;
}

.boxContainer{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.box{
    width: 250px;
    height:250px;
    border-radius:25px;
    background-color:red;
    margin:1rem;
}

@media screen and (max-width: 1059px) {
    .box {
        width: 225px;
    height:225px;
    }
}

@media screen and (max-width: 1059px) {
    .box {
        width: 200px;
    height:200px;
    }
}

/* ========================================= MEDIA QUERIES */

/* =====CAROUSEL*/

@media screen and (min-width:700px) and (max-width:1000px){

}

@media screen and (min-width:1000px) and (max-width:1250px){
    .carouselText h1{
        font-size: 10rem;
        margin-top: 15rem;
      }

}

@media screen and (min-width:1250px) and (max-width:1360px){
    .carouselText h1{
        font-size: 10rem;
        margin-top: 18rem;
      }
}

@media screen and (min-width:1360px) and (max-width:1500px){
  .carouselText h1{
    font-size: 12rem;
    margin-top: 18rem;
  }
}