.submitButton {
    background-color: #ffa094;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgb(165, 165, 165);
    margin: 1rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.faveButton {
    background-color: #87cab0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}

.deleteButton {
    background-color: palevioletred;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}

.editButton {
    background-color: #ffa094;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}

.reviewButton {
    background-color: #87cab0;;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}

.shareButton {
    background-color: #87cab0;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}

.filterButton {
    background-color: #87cab0;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgb(165, 165, 165);
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}