button {
    outline: none;
}

.submitButton {
    background-color: #ffa094;
    color: #333745;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgb(165, 165, 165);
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}
 
.submitButton:hover{
    text-decoration: underline;
}

.faveButton {
    background-color: #87cab0;
    color: #333745;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}

.faveButton:hover {
    color: #EEF5DB;
}

.deleteButton {
    background-color: palevioletred;
    color: #333745;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}

.deleteButton:hover {
    color: #EEF5DB;
}

.editButton {
    background-color: #ffa094;
    color: #333745;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}


.editButton a {
    text-decoration: none;
    color: #333745;
}

.editButton a:hover{
    color: #EEF5DB;
}

.reviewButton {
    background-color: #87cab0;;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}

.reviewButton a {
    text-decoration: none;
    color: #333745;
}

.reviewButton a:hover{
    color: #EEF5DB;
}

.shareButton {
    background-color: #87cab0;
    color: #333745;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}

.shareButton:hover {
    color: #EEF5DB;
}

.filterButton {
    background-color: #333745;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid rgb(165, 165, 165);
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    font-size: 1rem;
}

.filterButton:hover {
    text-decoration: underline;
}

.todoButton {
    background-color: palevioletred;
    color: #333745;
    font-family: 'Montserrat', sans-serif;
    outline: none;
    border: none;
}

.todoButton:hover {
    color: #EEF5DB;
}