/* mobile shared */

.addEventReview{
    margin: 0 auto;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typeStarDateInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#newEvent {
    font-size: 0.75rem;
    width: 14rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    border-radius: 20px;
    border: 1px solid rgb(165, 165, 165);
    margin: 1rem;
    padding: 0.5rem;
    outline:none;
}

#eventTypeDropdown {
    width: 8rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    margin: 0.25rem;
}

#eventStarDropdown {
    width: 8rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    margin: 0.25rem;
}

#eventDateDropdown {
    width: 8rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    margin: 0.25rem;
}

#newEventReview {
    width: 16rem;
    height: 2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    border-radius: 20px;
    border: 1px solid rgb(165, 165, 165);
    outline:none;
    resize: none;
}


/* min 400px */
@media screen and (min-width: 400px){

    #newEvent {
        width: 16rem;
        font-size: 1rem
    }

    #eventTypeDropdown {
        width: 9rem;
        font-size: 0.75rem;
    }

    #eventStarDropdown {
        width: 9rem;
        font-size: 0.75rem;
    }

    #eventDateDropdown {
        width: 9rem;
        font-size: 0.75rem;
    }

    #newEventReview {
        width: 18rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 600px) {

    #newEvent {
        margin: 0.5rem;
    }

    #eventTypeDropdown {
        margin: 0.5rem;
        font-size: 0.75rem;
        width: 9rem;
    }

    #eventStarDropdown {
        margin: 0.5rem;
        font-size: 0.75rem;
        width: 9rem;
    }

    #eventDateDropdown {
        margin: 0.5rem;
        font-size: 0.75rem;
        width: 9rem;
    }

    #newEventReview {
        margin-top: 0.5rem;
    }

}

/* min 900px */
@media screen and (min-width: 1000px) {

    
    .AddEventReviewForm {
        margin: 0 auto;
        padding: 0.5rem 0;
    }

    #newEvent {
        width: 16rem;
        margin: 0.5rem;
        font-size: 1rem;
    }

    #eventStarDropdown {
        width: 8rem;
        font-size: 0.75rem;
        margin: 0.5rem;
    }

    #eventTypeDropdown {
        width: 8rem;
        font-size: 0.75rem;
        margin: 0.5rem;
    }

    #eventDateDropdown {
        width: 8rem;
        font-size: 0.75rem;
        margin: 0.5rem;
    }

    #newEventReview {
        width: 14rem;
        height: 4rem;
        margin: 0.5rem auto;
    }
}

@media screen and (min-width: 1200px){
    .addEventReview {
        /* width: 26rem; */
        margin-bottom: 1rem;
    }

    #newEvent {
        width: 16rem;
        font-size: 1rem;
    }

    #eventStarDropdown {
        width: 11rem;
        font-size: 1rem;
    }

    #eventTypeDropdown {
        width: 11rem;
        font-size: 1rem;
    }

    #eventDateDropdown {
        width: 12rem;
        font-size: 1rem;
    }

    #newEventReview {
        width: 18rem;
        height: 4rem;
        margin: 0.5rem auto;
    }
}