.AddEventForm{
    margin: 0 auto;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addEventTypeAndDate {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#NewAddEvent {
    font-size: 0.75rem;
    width: 14rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    border-radius: 20px;
    border: 1px solid rgb(165, 165, 165);
    margin: 1rem;
    padding: 0.5rem;
    outline:none;
}

#NewEventTypeDropdown {
    width: 8rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    margin: 0.25rem;
}

#NewEventDateDropdown {
    width: 8rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    margin: 0.25rem;
}

#AddNewEventText {
    width: 16rem;
    height: 2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    border-radius: 20px;
    border: 1px solid rgb(165, 165, 165);
    outline:none;
    resize: none;
}


/* min 400px */
@media screen and (min-width: 400px){

    #NewAddEvent {
        width: 16rem;
        font-size: 1rem
    }

    #NewEventTypeDropdown {
        width: 10rem;
        font-size: 1rem;
    }

    #NewEventDateDropdown {
        width: 10rem;
        font-size: 1rem;
    }

    #AddNewEventText {
        width: 18rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 600px) {

    #NewAddEvent {
        margin: 0.5rem;
    }

    #NewEventTypeDropdown {
        margin: 0.5rem;
        font-size: 1rem;
    }

    #NewEventTypeDropdown {
        margin: 0.5rem;
        font-size: 1rem;
    }

    #AddNewEventText {
        margin-top: 0.5rem;
    }

}

/* min 900px */
@media screen and (min-width: 1000px) {

    
    .AddEventFormContainer {
        margin: 0 auto;
        padding: 0.5rem 0;
    }

    #NewAddEvent {
        width: 12rem;
        margin: 0.5rem;
        font-size: 1rem;
    }

    #NewEventTypeDropdown {
        width: 10rem;
        font-size: 1rem;
        margin: 0.5rem;
    }

    #NewEventDateDropdown {
        width: 10rem;
        font-size: 1rem;
        margin: 0.5rem;
    }

    #AddNewEventText {
        width: 14rem;
        height: 4rem;
        margin: 0.5rem auto;
    }
}

@media screen and (min-width: 1200px){
    .AddEventForm {
        /* width: 26rem; */
        margin-bottom: 1rem;
    }

    #NewAddEvent {
        width: 16rem;
        font-size: 1rem;
    }

    #NewEventTypeDropdown {
        width: 11rem;
        font-size: 1rem;
    }

    #NewEventDateDropdown {
        width: 11rem;
        font-size: 1rem;
    }

    #AddNewEventText {
        width: 18rem;
        height: 4rem;
        margin: 0.5rem auto;
    }
}