/* mobile shared */

.addForm{
    margin: 0 auto;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addNameAndType {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#NewPlace {
    font-size: 0.75rem;
    width: 14rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    border-radius: 20px;
    border: 1px solid rgb(165, 165, 165);
    margin: 1rem;
    padding: 0.5rem;
    outline:none;
}

#Dropdown {
    width: 10rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
}

#NewText {
    width: 16rem;
    height: 2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    border-radius: 20px;
    border: 1px solid rgb(165, 165, 165);
    outline:none;
    resize: none;
}


/* min 400px */
@media screen and (min-width: 400px){

    #NewPlace {
        width: 16rem;
        font-size: 1rem
    }

    #Dropdown {
        width: 14rem;
        font-size: 1rem;
    }

    #NewText {
        width: 18rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 600px) {

    #NewPlace {
        margin: 0.5rem;
    }

    #Dropdown {
        margin: 0.5rem;
        font-size: 1rem;
    }

    #NewText {
        margin-top: 0.5rem;
    }

}

/* min 900px */
@media screen and (min-width: 1000px) {

    
    .addFormContainer {
        margin: 0 auto;
        padding: 0.5rem 0;
    }

    #NewPlace {
        width: 12rem;
        margin: 0.5rem;
        font-size: 1rem;
    }

    #Dropdown {
        width: 12rem;
        font-size: 1rem;
        margin: 0.5rem;
    }

    #NewText {
        width: 14rem;
        height: 4rem;
        margin: 0.5rem auto;
    }
}

@media screen and (min-width: 1200px){
    .addForm {
        /* width: 26rem; */
        margin-bottom: 1rem;
    }

    #NewPlace {
        width: 16rem;
        font-size: 1rem;
    }

    #Dropdown {
        width: 16rem;
        font-size: 1rem;
    }

    #NewText {
        width: 18rem;
        height: 4rem;
        margin: 0.5rem auto;
    }
}
