/* mobile shared */

.addFormContainer{
    margin: 1rem 5rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.addForm{
    margin: 0 auto;
}

.addNameAndType{
    display: block;
}

#DropDown {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    color: #333745;
    width: 12rem;
    margin: 0.5rem;
}

#NewPlace{
    width: 13rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    border-radius: 20px;
    border: 1px solid rgb(165, 165, 165);
    margin: 0.5rem;
    padding: 0.5rem;
    outline:none;
}

#NewText {
    width: 80%;
    margin: 0.5rem;
    padding: 0.25rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    border-radius: 20px;
    border: 1px solid rgb(165, 165, 165);
    outline:none;
    resize: none;
}

#NewDate{
    width: 13rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    border-radius: 20px;
    border: 1px solid rgb(165, 165, 165);
    margin: 0.5rem;
    padding: 0.5rem;
    outline:none;

}

@media screen and (min-width: 400px){
    .addFormContainer{
        margin: 1rem 5rem;
        width: 24rem;
    }
}

@media screen and (min-width: 900px){

    .addFormContainer {
        width: 30rem;
    }

    .addNameAndType{
        display: inline;
    }
}

@media screen and (min-width: 1200px){

}



