/* mobile shared */

.addReview{
    margin: 0 auto;
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.typeStarInput {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#newPlace {
    font-size: 0.75rem;
    width: 14rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    border-radius: 20px;
    border: 1px solid rgb(165, 165, 165);
    margin: 1rem;
    padding: 0.5rem;
    outline:none;
}

#reviewDropdown {
    width: 7rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    margin: 0.25rem;
}

#starDropdown {
    width: 7rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    margin: 0.25rem;
}

#newReview {
    width: 16rem;
    height: 2rem;
    margin-top: 1rem;
    padding: 0.5rem;
    font-size: 0.75rem;
    font-family: 'Montserrat', sans-serif;
    color: #333745;
    border-radius: 20px;
    border: 1px solid rgb(165, 165, 165);
    outline:none;
    resize: none;
}


/* min 400px */
@media screen and (min-width: 400px){

    #newPlace {
        width: 16rem;
        font-size: 1rem
    }

    #starDropdown {
        width: 9rem;
        font-size: 1rem;
    }

    #reviewDropdown {
        width: 9rem;
        font-size: 1rem;
    }

    #newReview {
        width: 18rem;
        font-size: 1rem;
    }
}

@media screen and (min-width: 600px) {

    #newPlace {
        margin: 0.5rem;
    }

    #starDropdown {
        margin: 0.5rem;
        font-size: 1rem;
        width: 9rem;
    }

    #reviewDropdown {
        margin: 0.5rem;
        font-size: 1rem;
        width: 9rem;
    }

    #newReview {
        margin-top: 0.5rem;
    }

}

/* min 900px */
@media screen and (min-width: 1000px) {

    
    .AddReviewForm {
        margin: 0 auto;
        padding: 0.5rem 0;
    }

    #newPlace {
        width: 16rem;
        margin: 0.5rem;
        font-size: 1rem;
    }

    #starDropdown {
        width: 8rem;
        font-size: 1rem;
        margin: 0.5rem;
    }

    #reviewDropdown {
        width: 8rem;
        font-size: 1rem;
        margin: 0.5rem;
    }

    #newReview {
        width: 14rem;
        height: 4rem;
        margin: 0.5rem auto;
    }
}

@media screen and (min-width: 1200px){
    .addReview {
        /* width: 26rem; */
        margin-bottom: 1rem;
    }

    #newPlace {
        width: 16rem;
        font-size: 1rem;
    }

    #starDropdown {
        width: 9rem;
        font-size: 1rem;
    }

    #reviewDropdown {
        width: 9rem;
        font-size: 1rem;
    }

    #newReview {
        width: 18rem;
        height: 4rem;
        margin: 0.5rem auto;
    }
}