.nav {
    width: 100%;
    top: 0;
    background-color: #ffa094;
    padding: 1rem 0 1rem 0;
    box-shadow:0 1px 6px rgba(2, 15, 7, 0.502);
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #333745;
    z-index: 20;
}

.logo {
    width: 50%;
    margin-left: 0.5rem;
}

.nav-right {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.nav-toggle-icon-login{
    display:none;
}

.nav-right div {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-right-dropdown{
    display: none;
    background-color: #ffa094;
    margin-top: 4.5rem;
    right: 0;
    position: fixed;
    box-shadow:0 1px 6px rgba(2, 15, 7, 0.502);
}

.nav-right-dropdown-link {
    padding-top: 0.5rem;
    padding-bottom: 0.75rem;
}

.logo a{
    text-decoration: none;
    color: #333745;
}

.login-link a{
    text-decoration: none;
    color: #333745;
}

.register-link a {
    text-decoration: none;
    color: #333745;
}

.category-link a {
    text-decoration: none;
    color: #333745;
}