.FoodFavorites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content:center;
    flex-wrap: wrap;
    text-align:center;
    width: 100%;
    
}

.faveTop{
    margin-top: 6rem;
  
}

.formRows{
    display: flex;
    justify-content:flex-start;
    align-content:center;
    align-items:center;
    flex-direction:column;
}


h2{
    color: #333745;
    font-family: 'Bad Script', cursive;
    font-size: 22pt;
    margin-top: 3rem;
    margin: 3rem auto 1rem;
    text-align:center;
    width: 100%;
}

.placeCard{
    border: 1px solid #ffa094;
    background-color: #fff1cb;
    border-radius: 30px;
    padding: 1rem;
    margin: 0.5rem;
    justify-content: space-around;
    display: flex;

}

.placeCardSpacing{
    margin-right: .75rem;
    margin-left: .75rem;
    text-align: left;
    display: flex;
    flex-direction: column;

}

.cardLeft {
    width: 80%;
}

h4 {
    font-weight: bold;
    font-size: 1rem;
    margin:0.5rem 0;
    color: #333745;
}

p {
    font-size: 0.75rem;
    color: #333745;
}

.buttonContainer{
    margin-right: .75rem;
    margin-left: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content:center;
    /* align-items:center; */
}

