@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    margin:0;
    padding:0;
    box-sizing: border-box;
}

#root{
    overflow-x: hidden;
}